PORT=5050
DATABASE_URL=postgresql://postgres:YOUR_PASSWORD@localhost:5432/popeyez_db
APP_URL=http://localhost:5173


SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_STARTTLS=true
SMTP_USER=popeyezdemo@gmail.com
SMTP_PASS=ur_password
SMTP_FROM_EMAIL=popeyezdemo@gmail.com
SMTP_FROM_NAME=PopEyez
